[Desktop Entry]
Type=Application
Name=CachyRecorder
GenericName=Screen Memory Search
Comment=Search everything you have seen on your screen
Exec=cachyrec gui
Icon=cachyrecorder
Terminal=false
Categories=Utility;Office;
Keywords=recall;rewind;screen;history;search;ocr;
